body{
    margin: 0px;
    background-color: white;
    color: #624112;
    font-family: 'Mochiy Pop P One', sans-serif;
}

main{
    max-width: 1200px;
    margin: 3rem auto;
}

header{
    height: 4rem;
    background-color: lightskyblue;
    border-bottom: 3px solid rgb(241, 241, 175);
}

#logo{
    height: 3.5rem;
    display: flex;
}

a{
    text-decoration: none;
    color: #624112; 
    font-size: larger;
    margin-left: 1.5rem;
}

#alinear{
    height: 100%;
    max-width: 1400px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr{
    visibility: hidden;
}

.flotaderecha{
    float: right;
}

.flotaizquierda{
    float: left;
}


img{
    margin: 0.5rem;
    max-width: 1200px;
    max-height: 1000px;
}

article{
    margin-top: 8rem;
}

footer{
    border-top: 3px solid limegreen;
    background-color: rgb(11, 99, 155);
    height: 20rem;
}

#listapie{
    max-width: 1200px;
    margin: 3rem auto;
}

#listapie a{
    text-decoration: none;
    color: #624112; 
    font-size: larger;
    margin-left: 2rem;
}

#shell1{
    float: right;
    width: 450px;
}

#shell2{
    float: left;
    width: 400px;
    margin: 2rem;
}

.listapie>h2{
    font-size: larger;
}